.button {
  padding: 0;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.button--primary,
.button--secondary,
.button--accent,
.button--transparent {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  color: var(--basic-color-light);

  border-radius: 4px;
}

.button--primary,
.button--secondary,
.button--accent {
  transition-property: background-color, color;
  transition-duration: var(--primary-transition-duration);
  transition-timing-function: var(--primary-transition-timing-function);
}

.button:focus-visible {
  outline-style: solid;
  outline-width: 3px;
  outline-offset: 3px;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;

  pointer-events: none;
}

.button--primary {
  background-color: var(--primary-color);
}

.button--secondary {
  background-color: var(--secondary-color);
}

.button--accent {
  background-color: var(--accent-color);
}

.button--transparent {
  transition:
    opacity var(--primary-transition-duration) var(--primary-transition-timing-function),
    color var(--primary-transition-duration) var(--primary-transition-timing-function);
}

@media (hover: hover) {
  .button--primary:hover {
    background-color: var(--primary-color-2);
  }

  .button--secondary:hover {
    background-color: var(--secondary-color-3);
  }

  .button--accent:hover {
    background-color: var(--accent-color-2);
  }

  .button--transparent:hover {
    opacity: 0.6;
  }
}

.button--primary:focus-visible {
  background-color: var(--primary-color-2);

  outline-color: var(--primary-color-2);
}

.button--secondary:focus-visible {
  background-color: var(--secondary-color-3);

  outline-color: var(--secondary-color-3);
}

.button--accent:focus-visible {
  background-color: var(--accent-color-2);

  outline-color: var(--accent-color-2);
}

.button--transparent:focus-visible {
  outline-color: var(--primary-color-2);
  outline-offset: unset;
}

.button--primary:active {
  background-color: var(--primary-color);
}

.button--secondary:active {
  background-color: var(--secondary-color);
}

.button--accent:active {
  background-color: var(--accent-color);
}

.button--primary:active {
  color: var(--basic-color-light-0-20);
}

.button--transparent:disabled {
  background-color: transparent;
  opacity: 0.1;
}

.button--large-text {
  font-size: 20px;
  line-height: 1.8;
}
