:root {
  --text-color-primary: #000000;
  --text-color-secondary: #ffffff;
  --text-color-accent: #333333;

  --bg-color-primary: #ffffff;
  --bg-color-secondary: #82b3d3;
  --bg-color-accent: #756157;
  --bg-color-favorite: #7db54f;
  --bg-color-neutral: #f2f2f2;
  --bg-color-fallback: #000000;
}
