.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}

.content {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;

  background-color: var(--bg-basic-light);
  box-shadow: var(--content-shadow);
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-offset) * 2);
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.heading {
  font-weight: 700;
}

.heading--first {
  font-size: var(--fist-heading-size);
  line-height: var(--first-heading-line-height);
}

.heading--second {
  font-size: var(--second-heading-size);
  line-height: var(--second-heading-line-height);
  text-transform: uppercase;
}

.heading--third {
  font-size: var(--third-heading-size);
  line-height: var(--third-heading-line-height);
}

.text--large {
  font-size: var(--large-text-size);
  line-height: var(--large-text-line-height);
}

.text--mid {
  font-size: var(--mid-text-size);
  line-height: var(--mid-text-line-height);
}

.text--small {
  font-size: var(--small-text-size);
  line-height: var(--small-text-line-height);
}

.link {
  display: inline-block;

  color: inherit;
  text-decoration: none;

  transition:
    color 0.3s ease-in-out,
    opacity 0.25s ease-in-out;
}

@media (hover: hover) {
  .link--primary:hover,
  .link--primary:focus-visible {
    color: var(--text-link-primary-state);

    outline-color: var(--text-link-primary-state);
  }
}

.link--primary:active {
  color: var(--text-link-primary-active-state);

  opacity: 0.3;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  color: var(--text-secondary);
  font-size: var(--button-default-text-size);
  line-height: var(--button-default-text-line-height);
  font-weight: 700;
  text-transform: uppercase;

  border: none;
  border-radius: 4px;

  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    color 0.2s ease-in-out;
}

.button[href] {
  text-decoration: none;
}

.button:focus-visible {
  outline-width: 3px;
  outline-style: solid;
  outline-offset: 3px;
}

.button:active {
  color: var(--text-button-hover-state);
}

.button:disabled {
  background-color: var(--bg-button-disabled);

  pointer-events: none;
  cursor: pointer;
}

.button--primary,
.button--primary:active{
  background-color: var(--bg-button-primary);
}

@media (hover: hover) {
  .button--primary:hover {
    background-color: var(--bg-button-primary-hf);
  }
}

.button--primary:focus-visible {
  outline-color: var(--bg-button-primary-hf);

  background-color: var(--bg-button-primary-hf);
}

.button--secondary,
.button--secondary:active{
  background-color: var(--bg-button-secondary);
}

@media (hover: hover) {
  .button--secondary:hover {
    background-color: var(--bg-button-secondary-hf);
  }
}

.button--secondary:focus-visible {
  outline-color: var(--bg-button-secondary-hf);

  background-color: var(--bg-button-secondary-hf);
}

.button--accent,
.button--accent:active{
  background-color: var(--bg-button-accent);
}

@media (hover: hover) {
  .button--accent:hover {
    background-color: var(--bg-button-accent-hf);
  }
}

.button--accent:focus-visible {
  outline-color: var(--bg-button-accent-hf);

  background-color: var(--bg-button-accent-hf);
}

.button--transparent {
  background-color: transparent;

  transition:
    color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

@media (hover: hover) {
  .button--transparent:hover {
    opacity: 0.6;
  }
}

.button--transparent:focus-visible {
  outline-color: var(--bg-button-secondary-hf);
}

.button--large {
  font-size: var(--button-large-text-size);
  line-height: var(--button-large-text-line-height);
}

/*

.button:not(:disabled):focus-visible {
  outline-width: 3px;
  outline-style: solid;
  outline-offset: 3px;
}

.button:not(:disabled):active {
  color: var(--text-active-state);
}

.button:disabled {
  background-color: var(--bg-button-disabled);

  cursor: default;
}

.button--primary {
  background-color: var(--bg-button-primary);
}

.button--primary:not(:disabled):hover,
.button--primary:not(:disabled):focus-visible {
  background-color: var(--bg-button-primary-hover);
}

.button--primary:not(:disabled):focus-visible {
  outline-color: var(--bg-button-primary-hover);
}

.button--primary:not(:disabled):active {
  background-color: var(--bg-button-primary);
}

.button--secondary {
  background-color: var(--bg-button-secondary);
}

.button--secondary:not(:disabled):hover,
.button--secondary:not(:disabled):focus-visible {
  background-color: var(--bg-button-secondary-hover);
}

.button--secondary:not(:disabled):focus-visible {
  outline-color: var(--bg-button-secondary-hover);
}

.button--secondary:not(:disabled):active {
  background-color: var(--bg-button-secondary);
}

.button--accent {
  background-color: var(--bg-button-accent);
}

.button--accent:not(:disabled):hover,
.button--accent:not(:disabled):focus-visible {
  background-color: var(--bg-button-accent-hover);
}

.button--accent:not(:disabled):focus-visible {
  outline-color: var(--bg-button-accent-hover);
}

.button--accent:not(:disabled):active {
  background-color: var(--bg-button-accent);
}
 */
