.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}

.container {
  padding-right: 70px;
  padding-left: 70px;
}

.heading {
  font-weight: 700;
}

.heading--first {
  font-size: 60px;
  line-height: 1.3;
}

.heading--second {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.heading--third {
  font-size: 24px;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

.input {
  font-family: inherit;
  font-size: inherit;

  border: none;
}

.input--number::-webkit-outer-spin-button,
.input--number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media (hover: hover) {
  .input--number:hover {
    appearance: none;
    -moz-appearance: textfield;
  }
}

.input--number,
.input--number:focus {
  appearance: none;
  -moz-appearance: textfield;
}
