html {
  background-color: var(--additional-color-2);

  color: var(--basic-color-dark);
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 1.17;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

  background-color: var(--basic-color-light);
  box-shadow: 0 0 15px 0 var(--basic-color-dark-0-20);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
