*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  color: var(--text-color-primary);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
