/* Main */

.main__subscribe {
  background-color: var(--basic-color-dark);
  background-image: url('../images/backgrounds/subscribe-bg.jpg');
  background-repeat: no-repeat;
}

.main-inner__hotels {
  margin-bottom: 60px;
}

.main-inner__header {
  padding-top: 35px;
  padding-bottom: 69px;
  margin-bottom: 50px;

  background-color: var(--basic-color-dark);
  background-image: url('../images/backgrounds/filters-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-inner__title {
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--basic-color-light);
}

.main-inner__breadcrumbs {
  margin-bottom: 40px;
}


/* Header */

.header {
  position: relative;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
  min-height: 64px;
  padding-left: 238px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.header__navigation {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.header__link {
  min-width: 161px;
}


/* Navigation */

.navigation__list {
  display: flex;
}

.navigation__menu {
  align-items: center;

  font-size: 20px;
  line-height: 1.2;
}

.navigation__menu .navigation__link {
  padding: 11px 16px;

  font-weight: 700;
  text-transform: capitalize;
}

.navigation__link--active {
  position: relative;

  pointer-events: none;
}

.navigation__link--active::after {
  content: '';

  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);

  display: inline-block;
  width: calc(100% - 16px * 2);
  height: 2px;

  background-color: var(--secondary-color-2);
}

.navigation__link--as-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 52px;
}

.navigation__link--icon-favorite {
  position: relative;
}

.navigation__link-counter {
  position: absolute;
  top: 5px;
  right: 3px;

  min-width: 20px;
  padding: 5px 4px;

  color: var(--basic-color-light);
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  text-align: center;

  background-color: var(--accent-color);
  border-radius: 50%;
}


/* Breadcrumbs */

.breadcrumbs {
  color: var(--basic-color-light);
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item:not(:last-of-type) {
  margin-right: 9px;
}

.breadcrumbs__item:not(:last-of-type)::after {
  content: '';

  display: inline-block;
  width: 8px;
  height: 11px;

  background-image: url('../images/icons/arrow-right-light.svg');
  background-repeat: no-repeat;
}

.breadcrumbs__item:not(:last-of-type) .breadcrumbs__link {
  margin-right: 7px;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 1.31;
}

.breadcrumbs__link--active {
  pointer-events: none;
}


/* Hero */

.main__hero {
  position: relative;

  display: flex;
  justify-content: center;
  padding-top: 51px;
  padding-bottom: 82px;

  background-color: var(--basic-color-dark);
  background-image:
    url('../images/backgrounds/hero-decoration-bg.svg'),
    url('../images/backgrounds/hero-bg.jpg');
  background-size:
    1200px 57px,
    cover;
  background-position:
    center bottom,
    center center;
  background-repeat: no-repeat;
}


/* Intro */

.intro {
  display: grid;
  grid-row-gap: 20px;

  text-align: center;
}

.intro--large-gap {
  grid-row-gap: 25px;
}

.intro--reverse-color {
  color: var(--basic-color-light);
}

.intro--reverse-color .intro__text {
  color: inherit;
}

.intro__heading,
.intro__text {
  margin-top: 0;
  margin-bottom: 0;
}

.intro__text {
  font-size: 22px;
  line-height: 1.18;
  color: var(--additional-color);
}


/* Advantages */

.advantages__intro {
  padding-top: 70px;
  padding-bottom: 90px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  text-align: center;

  background-color: var(--primary-color-ligth-0-12);
}

.advantages__item:nth-of-type(4n + 3) {
  background-color: var(--primary-color-ligth-0-20);
}

.advantages__item--wide {
  color: var(--basic-color-light);
}

.advantages__item-figure {
  display: flex;
  margin: 0;
}

.advantages__item-wrapper {
  max-width: 400px;
  padding: 112px 85px;
}

.advantages__item--wide .advantages__item-wrapper {
  padding-top: 102px;
  padding-bottom: 102px;

  background-color: var(--primary-color);
}

.advantages__item--wide .advantages__item-description {
  color: inherit;
}

.advantages__item--wide .advantages__item-description::before {
  background-color: var(--basic-color-light-0-30);
}

.advantages__item--reverse .advantages__item-figure {
  flex-direction: row-reverse;
}

.advantages__item-title,
.advantages__item-description {
  margin-top: 0;
}

.advantages__item-title {
  margin-bottom: 30px;

  text-transform: uppercase;
}

.advantages__item-description {
  margin-bottom: 0;

  color: var(--additional-color);
}

.advantages__item-description::before {
  content: '';

  display: block;
  width: 60px;
  height: 2px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  background-color: var(--basic-color-dark-0-30);
}

.advantages__item-image {
  object-fit: cover;
}


/* Infrastructure */

.infrastructure__intro {
  padding-top: 64px;
  padding-bottom: 62px;
}

.infrastructure__list {
  display: flex;
  align-items: center;
}

.infrastructure__item {
  display: grid;
  grid-row-gap: 30px;
  justify-items: center;
  min-width: 400px;
  padding: 80px 85px;

  text-align: center;
}

.infrastructure__item::before {
  content: '';

  display: block;

  background-repeat: no-repeat;
}

.infrastructure__item:nth-of-type(odd) {
  background-color: var(--primary-color-ligth-0-12);
}

.infrastructure__item--house.infrastructure__item::before {
  width: 77px;
  height: 72px;

  background-image: url('../images/icons/house.svg');
}

.infrastructure__item--food.infrastructure__item::before {
  width: 76px;
  height: 72px;

  background-image: url('../images/icons/food.svg');
}

.infrastructure__item--souvenir.infrastructure__item::before {
  width: 76px;
  height: 76px;

  background-image: url('../images/icons/souvenir.svg');
}

.infrastructure__item-title,
.infrastructure__item-description {
  margin-top: 0;
  margin-bottom: 0;
}

.infrastructure__item-title {
  text-transform: uppercase;
}

.infrastructure__item-description {
  color: var(--additional-color);
}


/* Offer */

.offer {
  display: grid;
  grid-row-gap: 54px;
  padding-top: 96px;
  padding-bottom: 97px;
}

.offer__button {
  justify-self: center;
  width: 100%;
  max-width: 376px;
}


/* Subscribe */

.subscribe {
  display: grid;
  grid-row-gap: 54px;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe--without-image .subscribe__input {
  background-color: var(--additional-color-2);
}

.subscribe__form {
  justify-self: center;
  display: flex;
  width: 684px;
}

.subscribe__input {
  flex-grow: 1;
  padding: 14px 20px;

  line-height: 1.33;

  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;

  cursor: pointer;
  transition: background-color var(--primary-transition-duration) var(--primary-transition-timing-function);
}

@media (hover: hover) {
  .subscribe__input:hover {
    background-color: var(--additional-color-3);
  }
}

.subscribe__input:focus-visible {
  outline: 3px solid var(--primary-color-3);
}

@supports not selector(:focus-visible) {
  .subscribe__input:focus {
    outline: 3px solid var(--primary-color-3);
  }
}

.subscribe__button {
  min-width: 232px;

  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}


/* Filters */

.filters__form {
  display: flex;
  justify-content: space-between;

  color: var(--basic-color-light);
}

.filters__side {
  display: flex;
  column-gap: 70px;
}

.filters__fieldset {
  margin-right: 0;
  margin-left: 0;
  border: none;
  padding: 0;
}

.filters__legend {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 32px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}

.filters__checkbox-group .filters__item:not(:last-of-type) {
  margin-bottom: 13px;
}

.filters__radio-group .filters__item:not(:last-of-type) {
  margin-bottom: 15px;
}

.filters__wrapper {
  display: inline-flex;
  align-items: center;
  column-gap: 15px;

  line-height: 1.28;

  cursor: pointer;
  transition: opacity var(--primary-transition-duration) var(--primary-transition-timing-function);
}

@media (hover: hover) {
  .filters__wrapper:hover {
    opacity: 0.6;
  }
}

.filters__input:focus-visible + .filters__checkbox {
  outline: 3px solid var(--primary-color-3);
}

@supports not selector(:focus-visible) {
  .filters__input:focus + .filters__checkbox {
    outline: 3px solid var(--primary-color-3);
  }
}

.filters__wrapper:active {
  opacity: 0.6;
}

.filters__input[type="checkbox"] + .filters__checkbox {
  width: 20px;
  height: 20px;

  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 60% 50%;
}

.filters__input[type="checkbox"]:checked + .filters__checkbox {
  background-image: url(../images/icons/checkbox.svg);
}

.filters__input[type="radio"] + .filters__checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;

  border-radius: 50%;
}

.filters__input[type="radio"] + .filters__checkbox::after {
  content: '';

  display: inline-block;
  width: 11px;
  height: 11px;

  background-color: var(--primary-color-4);
  border-radius: 50%;

  opacity: 0;
}

.filters__input[type="radio"]:checked + .filters__checkbox::after {
  opacity: 1;
}

.filters__checkbox {
  background-color: var(--basic-color-light);
}

.filters__controls {
  align-self: flex-end;
  display: grid;
  grid-row-gap: 33px;
}

.filters__controls-button {
  min-width: 191px;
}


/* Range */

.range__inputs {
  display: flex;
  column-gap: 2px;
  margin-bottom: 45px;

  line-height: 1.33;
}

.range__input-wrapper {
  position: relative;

  margin-top: 0;
  margin-bottom: 0;
}

.range__input-wrapper:first-of-type .range__input {
  border-radius: 4px 0 0 4px;
}

.range__input-wrapper:last-of-type .range__input {
  border-radius: 0 4px 4px 0;
}

.range__input {
  min-width: 143px;
  padding: 12px 42px 12px 20px;

  font-weight: 700;

  background-color: var(--additional-color-2);

  transition: background-color var(--primary-transition-duration) var(--primary-transition-timing-function);
  cursor: pointer;
}

.range__input::placeholder {
  color: var(--basic-color-dark);
}

@media (hover: hover) {
  .range__input:hover {
    background-color: var(--additional-color-3);
  }
}

.range__input:focus-visible {
  background-color: var(--additional-color-3);

  outline: 3px solid var(--primary-color-3);
}

@supports not selector(:focus-visible) {
  .range__input:focus {
    background-color: var(--additional-color-3);

    outline: 3px solid var(--primary-color-3);
  }
}

.range__label {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  color: var(--basic-color-dark-0-30);
  text-transform: lowercase;
}

.range__slider {
  position: relative;

  height: 4px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range__slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: var(--basic-color-light);
  border-radius: 5px;

  transition: box-shadow var(--primary-transition-duration) var(--primary-transition-timing-function);
}

.range__slider-button:first-of-type {
  left: 0;
}

.range__slider-button:last-of-type {
  left: 72%;
}

@media (hover: hover) {
  .range__slider-button:hover {
    box-shadow: 0 4px 10px 0 var(--basic-color-dark-0-25);
  }
}

.range__slider-button:focus-visible {
  outline: 3px solid var(--primary-color-3);
  outline-offset: unset;
  box-shadow: 0 4px 10px 0 var(--basic-color-dark-0-25);
}

@supports not selector(:focus-visible) {
  .range__slider-button:focus {
    outline: 3px solid var(--primary-color-3);
    outline-offset: unset;
    box-shadow: 0 4px 10px 0 var(--basic-color-dark-0-25);
  }
}

.range__slider-button:active {
  outline: 2px solid var(--primary-color-3);
  box-shadow: 0 7px 15px 0 var(--basic-color-dark-0-40);
}

.range__slider-progress {
  display: block;
  width: 72%;
  height: 100%;

  background-color: var(--basic-color-light);
}


/* Hotels */

.hotels__header {
  display: flex;
  align-items: center;
  gap: 20px 70px;
  margin-bottom: 38px;
}

.hotels__view,
.hotels__view-item {
  display: flex;
}

.hotels__view-item:not(:last-of-type) {
  margin-right: 8px;
}

.hotels__view-link {
  display: inline-block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  transition: border-color var(--primary-transition-duration) var(--primary-transition-timing-function);
}

@media (hover: hover) {
  .hotels__view-link:hover {
    border-color: var(--basic-color-dark);
  }
}

.hotels__view-link:focus-visible {
  outline: none;
  border-color: var(--primary-color-2);
}

@supports not selector(:focus-visible) {
  .hotels__view-link:focus {
    outline: none;
    border-color: var(--primary-color-2);
  }
}

.hotels__view-link:active {
  border-color: var(--basic-color-dark);
}

.hotels__view-link--active {
  border-color: var(--basic-color-dark);

  pointer-events: none;
}

.hotels__view-link--tile-view {
  background-image: url('../images/icons/mode-tile.svg');
}

.hotels__view-link--card-view {
  background-image: url('../images/icons/mode-card.svg');
}

.hotels__view-link--list-view {
  background-image: url('../images/icons/mode-list.svg');
}

.hotels__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(340px, auto));
  grid-auto-rows: minmax(438px, auto);
  grid-gap: 20px;
  margin-bottom: 40px;
}

.hotels__pagination {
  font-size: 20px;
  line-height: 1.8;
}

.hotels__pagination::before {
  content: '';

  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 39px;

  background-color: var(--additional-color-3);
}


/* Sorting */

.sorting {
  position: relative;

  margin-left: auto;
}

.sorting__select {
  position: relative;

  min-width: 292px;
  margin-left: auto;
  padding: 14px 40px 14px 20px;

  color: var(--additional-color);
  line-height: inherit;

  border: 2px solid #e5e5e5;
  border-radius: 4px;

  cursor: pointer;
  transition: border-color var(--primary-transition-duration) var(--primary-transition-timing-function);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

@media (hover: hover) {
  .sorting__select:hover {
    border-color: var(--primary-color-2);
  }
}

.sorting__select:focus-visible {
  outline: none;
  border-color: var(--primary-color-2);
}

@supports not selector(:focus-visible) {
  .sorting__select:focus {
    outline: none;
    border-color: var(--primary-color-2);
  }
}

.sorting__select:disabled {
  color: var(--basic-color-dark-0-30);

  border-color: var(--basic-color-dark-0-30);

  pointer-events: none;
}

.sorting__select:disabled + .sorting__arrow {
  color: var(--basic-color-dark-0-30);
}

.sorting__arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* Card */
.card {
  display: grid;
  grid-row-gap: 16px;
  padding: 19px;
  min-height: 100%;

  border: 1px solid var(--additional-color-3);
  border-radius: 4px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 0;
}

.card__info {
  display: flex;
  justify-content: space-between;

  color: var(--additional-color);
}

.card__info-value {
  margin-left: 0;
}

.card__controls,
.card__quality {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.card__controls-button,
.card__rating {
  min-width: 140px;
  padding-right: 10px;
  padding-left: 10px;
}

.card__rating {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 0;
  margin-bottom: 0;

  color: var(--additional-color);
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;

  background-color: var(--additional-color-2);
  border-radius: 4px;
}

.card__stars {
  height: 17px;

  background-image: url('../images/icons/star.svg');
  background-repeat: space;
}

.card__stars[data-star="1"] {
  width: var(--icon-star-size);
}

.card__stars[data-star="2"] {
  width: calc(var(--icon-star-size) * 2);
}

.card__stars[data-star="3"] {
  width: calc(var(--icon-star-size) * 3);
}

.card__stars[data-star="4"] {
  width: calc(var(--icon-star-size) * 4);
}

.card__stars[data-star="5"] {
  width: calc(var(--icon-star-size) * 5);
}


/* Pagination */

.pagination__list {
  display: flex;
}

.pagination__item:not(:last-of-type) {
  margin-right: 8px;
}

.pagination__link {
  min-width: 60px;
  min-height: 60px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: inherit;
}

@media (hover: hover) {
  .pagination__link:hover {
    outline: 1px solid var(--primary-color);
  }
}

.pagination__link:focus-visible {
  outline: 1px solid var(--primary-color);
  outline-offset: unset;
}

@supports not selector(:focus-visible) {
  .pagination__link:focus {
    outline: 1px solid var(--primary-color);
    outline-offset: unset;
  }
}

.pagination__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;

  font-weight: 600;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.pagination__button--more {
  font-size: 22px;
  line-height: 1.18;

  background-color: transparent;
}

.pagination__link--active {
  background-color: var(--additional-color-2);

  pointer-events: none;
}


/* Footer */

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 33px;
}

.footer__social {
  display: flex;
}

.footer__contact-link {
  font-size: 40px;
  line-height: 1;
}

.footer__copyright-link {
  color: inherit;
}


/* Social */

.social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}
