.link {
  text-decoration: none;
}

.link--as-text {
  color: inherit;
}

.link--primary,
.link--secondary,
.link--basic-light {
  transition: color var(--primary-transition-duration) var(--primary-transition-timing-function);
}

.link--primary {
  color: var(--primary-color-3);
}

.link--secondary {
  color: var(--basic-color-dark);
}

.link:focus-visible {
  outline-width: 3px;
  outline-style: solid;
}

@media (hover: hover) {
  .link--primary:hover {
    color: var(--primary-color-2);
  }

  .link--secondary:hover {
    color: var(--secondary-color-3);
  }

  .link--basic-light:hover {
    color: var(--basic-color-light-0-60);
  }
}

.link--primary:focus-visible {
  color: var(--primary-color-2);

  outline-color: var(--primary-color-2);
}

.link--secondary:focus-visible {
  color: var(--secondary-color-3);

  outline-color: var(--secondary-color-3);
}

.link--basic-light:focus-visible {
  color: var(--basic-color-light);
}

.link--as-text:focus-visible {
  outline-color: inherit;
}

.link--primary:active {
   color: rgba(104, 162, 202, 0.3);
}

.link--secondary:active {
  color: rgba(117, 97, 87, 0.3);
}

.link--basic-light:active {
  color: var(--basic-color-light-0-30);
}
