:root {
  /* Primary Colors */
  --basic-color-light: #ffffff;
  --basic-color-dark: #000000;
  --primary-color: #82b3d3;
  --primary-color-2: #68a2ca;
  --primary-color-3: #83b3d3;
  --primary-color-4: #3f5e72;
  --secondary-color: #756157;
  --secondary-color-2: #756257;
  --secondary-color-3: #615048;
  --accent-color: #7db54f;
  --accent-color-2: #6c9e42;
  --additional-color: #333333;
  --additional-color-2: #f2f2f2;
  --additional-color-3: #e6e6e6;
  --error-color: #ff5757;

  /* RGBA Colors */
  --basic-color-light-0-20: rgba(255, 255, 255, 0.2);
  --basic-color-light-0-30: rgba(255, 255, 255, 0.3);
  --basic-color-light-0-60: rgba(255, 255, 255, 0.6);
  --basic-color-light-0-80: rgba(255, 255, 255, 0.8);
  --basic-color-dark-0-15: rgba(0, 0, 0, 0.15);
  --basic-color-dark-0-20: rgba(0, 0, 0, 0.2);
  --basic-color-dark-0-25: rgba(0, 0, 0, 0.25);
  --basic-color-dark-0-30: rgba(0, 0, 0, 0.3);
  --basic-color-dark-0-40: rgba(0, 0, 0, 0.4);
  --basic-color-dark-custom: rgba(117, 97, 87, 0.3);
  --primary-color-ligth-0-12: rgba(131, 179, 211, 0.12);
  --primary-color-ligth-0-20: rgba(131, 179, 211, 0.2);

  /* Icons */
  --icon-star-size: 22px;

  /* Transitions */
  --primary-transition-duration: 0.2s;
  --primary-transition-timing-function: ease-in-out;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("PT Sans"),
    url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local("PT Sans"),
    url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  background-color: var(--additional-color-2);

  color: var(--basic-color-dark);
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.17;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

  background-color: var(--basic-color-light);
  box-shadow: 0 0 15px 0 var(--basic-color-dark-0-20);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}

.container {
  padding-right: 70px;
  padding-left: 70px;
}

.heading {
  font-weight: 700;
}

.heading--first {
  font-size: 60px;
  line-height: 1.3;
}

.heading--second {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.heading--third {
  font-size: 24px;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

.input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.33;

  background-color: transparent;
  border: none;
  border-radius: 4px;

  transition: background-color var(--primary-transition-duration) var(--primary-transition-timing-function);
  cursor: pointer;
}

.input::placeholder {
  opacity: 0.6;
}

@media (hover: hover) {
  .input:hover {
    background-color: var(--additional-color-3);
  }
}

.input:focus-visible {
  outline: 3px solid var(--primary-color-3);
}

@supports not selector(:focus-visible) {
  .input:focus {
    outline: 3px solid var(--primary-color-3);
  }
}

.input--has-bg {
  background-color: var(--additional-color-2);
}

.input--number::-webkit-outer-spin-button,
.input--number::-webkit-inner-spin-button {
  appearance: none;
  --webkit-appearance: none;
  --moz-appearance: none;
}

@media (hover: hover) {
  .input--number:hover {
    appearance: none;
    --webkit-appearance: none;
    --moz-appearance: none;
  }
}

.input--number,
.input--number:focus {
  appearance: none;
  --webkit-appearance: none;
  --moz-appearance: none;
}

.input--bold {
  font-weight: 700;
}

.button {
  padding: 0;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.button--primary,
.button--secondary,
.button--accent,
.button--transparent {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  color: var(--basic-color-light);

  border-radius: 4px;
}

.button--primary,
.button--secondary,
.button--accent {
  transition-property: background-color, color;
  transition-duration: var(--primary-transition-duration);
  transition-timing-function: var(--primary-transition-timing-function);
}

.button:focus-visible {
  outline-style: solid;
  outline-width: 3px;
  outline-offset: 3px;
}

@supports not selector(:focus-visible) {
  .button:focus {
    outline-style: solid;
    outline-width: 3px;
    outline-offset: 3px;
  }
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;

  pointer-events: none;
}

.button--primary {
  background-color: var(--primary-color);
}

.button--secondary {
  background-color: var(--secondary-color);
}

.button--accent {
  background-color: var(--accent-color);
}

.button--transparent {
  transition:
    opacity var(--primary-transition-duration) var(--primary-transition-timing-function),
    color var(--primary-transition-duration) var(--primary-transition-timing-function);
}

@media (hover: hover) {
  .button--primary:hover {
    background-color: var(--primary-color-2);
  }

  .button--secondary:hover {
    background-color: var(--secondary-color-3);
  }

  .button--accent:hover {
    background-color: var(--accent-color-2);
  }

  .button--transparent:hover {
    opacity: 0.6;
  }
}

.button--primary:focus-visible {
  background-color: var(--primary-color-2);

  outline-color: var(--primary-color-2);
}

.button--secondary:focus-visible {
  background-color: var(--secondary-color-3);

  outline-color: var(--secondary-color-3);
}

.button--accent:focus-visible {
  background-color: var(--accent-color-2);

  outline-color: var(--accent-color-2);
}

.button--transparent:focus-visible {
  outline-color: var(--primary-color-2);
  outline-offset: unset;
}

@supports not selector(:focus-visible) {
  .button--primary:focus {
    background-color: var(--primary-color-2);

    outline-color: var(--primary-color-2);
  }

  .button--secondary:focus {
    background-color: var(--secondary-color-3);

    outline-color: var(--secondary-color-3);
  }

  .button--accent:focus {
    background-color: var(--accent-color-2);

    outline-color: var(--accent-color-2);
  }

  .button--transparent:focus {
    outline-color: var(--primary-color-2);
    outline-offset: unset;
  }
}

.button--primary:active {
  color: var(--basic-color-light-0-20);

  background-color: var(--primary-color);
}

.button--secondary:active {
  background-color: var(--secondary-color);
}

.button--accent:active {
  background-color: var(--accent-color);
}

.button--transparent:disabled {
  background-color: transparent;

  opacity: 0.1;
}

.button--large-text {
  font-size: 20px;
  line-height: 1.8;
}

.link {
  text-decoration: none;
}

.link--as-text {
  color: inherit;
}

.link--primary,
.link--secondary,
.link--basic-light {
  transition: color var(--primary-transition-duration) var(--primary-transition-timing-function);
}

.link--primary {
  color: var(--primary-color-3);
}

.link--secondary {
  color: var(--basic-color-dark);
}

.link:focus-visible {
  outline-width: 3px;
  outline-style: solid;
}

@supports not selector(:focus-visible) {
  .link:focus-visible {
    outline-width: 3px;
    outline-style: solid;
  }
}

@media (hover: hover) {
  .link--primary:hover {
    color: var(--primary-color-2);
  }

  .link--secondary:hover {
    color: var(--secondary-color-3);
  }

  .link--basic-light:hover {
    color: var(--basic-color-light-0-60);
  }
}

.link--primary:focus-visible {
  color: var(--primary-color-2);

  outline-color: var(--primary-color-2);
}

.link--secondary:focus-visible {
  color: var(--secondary-color-3);

  outline-color: var(--secondary-color-3);
}

.link--basic-light:focus-visible {
  color: var(--basic-color-light);
}

.link--as-text:focus-visible {
  outline-color: inherit;
}

@supports not selector(:focus-visible) {
  .link--primary:focus {
    color: var(--primary-color-2);

    outline-color: var(--primary-color-2);
  }

  .link--secondary:focus {
    color: var(--secondary-color-3);

    outline-color: var(--secondary-color-3);
  }

  .link--basic-light:focus {
    color: var(--basic-color-light);
  }

  .link--as-text:focus {
    outline-color: inherit;
  }
}

.link--primary:active {
  color: rgba(104, 162, 202, 0.3);
}

.link--secondary:active {
  color: var(--basic-color-dark-custom);
}

.link--basic-light:active {
  color: var(--basic-color-light-0-30);
}

/* Main */

.main {
  flex-grow: 1;
}

.main__subscribe {
  background-color: var(--basic-color-dark);
  background-image: url("../images/backgrounds/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-inner__hotels {
  padding-top: 52px;
  margin-bottom: 60px;
}

.main-inner__header {
  padding-top: 35px;
  padding-bottom: 69px;

  background-color: var(--basic-color-dark);
  background-image: url("../images/backgrounds/filters-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-inner__title {
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--basic-color-light);
}

.main-inner__breadcrumbs {
  margin-bottom: 40px;
}


/* Header */

.header {
  position: relative;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
  min-height: 64px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 254px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.header__navigation {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.header__link {
  min-width: 161px;
}


/* Navigation */

.navigation__list {
  display: flex;
}

.navigation__menu {
  align-items: center;
  column-gap: 32px;

  font-size: 20px;
  line-height: 1.2;
}

.navigation__menu .navigation__link {
  padding-top: 11px;
  padding-bottom: 11px;

  font-weight: 700;
  text-transform: capitalize;
}

.navigation__link--active {
  position: relative;

  pointer-events: none;
}

.navigation__link--active::after {
  content: "";

  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);

  display: inline-block;
  width: 100%;
  height: 2px;

  background-color: var(--secondary-color-2);
}

.navigation__link--as-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 44px;
}

.navigation__link--icon-favorite {
  position: relative;
}

.navigation__link-counter {
  position: absolute;
  top: 0;
  right: 3px;

  min-width: 20px;
  max-width: 25px;
  height: 20px;
  padding: 5px 4px;

  color: var(--basic-color-light);
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  text-align: center;

  background-color: var(--accent-color);
  border-radius: 50%;

  overflow: hidden;
}


/* Breadcrumbs */

.breadcrumbs {
  color: var(--basic-color-light);
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 14px 10px;
}

.breadcrumbs__item:not(:last-of-type)::after {
  content: "";

  display: inline-block;
  width: 8px;
  height: 11px;

  background-image: url("../images/icons/arrow-right-light.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__item:not(:last-of-type) .breadcrumbs__link {
  margin-right: 7px;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 1.31;
}

.breadcrumbs__link--active {
  pointer-events: none;
}


/* Hero */

.main__hero {
  position: relative;

  display: flex;
  justify-content: center;
  padding-top: 51px;
  padding-bottom: 82px;

  background-color: var(--basic-color-dark);
  background-image:
    url("../images/backgrounds/hero-decoration-bg.svg"),
    url("../images/backgrounds/hero-bg.jpg");
  background-size:
    1200px 57px,
    cover;
  background-position:
    center bottom,
    center center;
  background-repeat: no-repeat;
}


/* Intro */

.intro {
  text-align: center;
}

.intro--reverse-color {
  color: var(--basic-color-light);
}

.intro--reverse-color .intro__text {
  color: inherit;
}

.intro__heading,
.intro__text {
  margin-top: 0;
}

.intro__heading {
  margin-top: 0;
  margin-bottom: 20px;
}

.intro__heading--large-indent {
  margin-bottom: 25px;
}

.intro__text {
  margin-bottom: 0;

  font-size: 22px;
  line-height: 1.18;
  color: var(--additional-color);
}


/* Advantages */

.advantages__intro {
  padding-top: 69px;
  padding-bottom: 90px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  text-align: center;

  background-color: var(--primary-color-ligth-0-12);
}

.advantages__item:nth-of-type(4n + 3) {
  background-color: var(--primary-color-ligth-0-20);
}

.advantages__item--wide {
  color: var(--basic-color-light);
}

.advantages__item-figure {
  display: flex;
  margin: 0;
}

.advantages__item-wrapper {
  max-width: 400px;
  padding: 112px 85px;
}

.advantages__item--wide .advantages__item-wrapper {
  padding-top: 102px;
  padding-bottom: 102px;

  background-color: var(--primary-color);
}

.advantages__item--wide .advantages__item-description {
  color: inherit;
}

.advantages__item--wide .advantages__item-description::before {
  background-color: var(--basic-color-light-0-30);
}

.advantages__item--reverse .advantages__item-figure {
  flex-direction: row-reverse;
}

.advantages__item-title,
.advantages__item-description {
  margin-top: 0;
}

.advantages__item-title {
  margin-bottom: 30px;

  text-transform: uppercase;
}

.advantages__item-description {
  margin-bottom: 0;

  color: var(--additional-color);
}

.advantages__item-description::before {
  content: "";

  display: block;
  width: 60px;
  height: 2px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  background-color: var(--basic-color-dark-0-30);
}

.advantages__item-image {
  object-fit: cover;
}


/* Infrastructure */

.infrastructure__intro {
  padding-top: 65px;
  padding-bottom: 63px;
}

.infrastructure__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 400px));
}

.infrastructure__item {
  padding: 80px 78px 81px;

  text-align: center;
}

.infrastructure__item::before {
  content: "";

  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 31px;

  background-repeat: no-repeat;
}

.infrastructure__item:nth-of-type(odd) {
  background-color: var(--primary-color-ligth-0-12);
}

.infrastructure__item--house::before {
  width: 77px;
  height: 72px;

  background-image: url("../images/icons/house.svg");
}

.infrastructure__item--food::before {
  width: 76px;
  height: 72px;

  background-image: url("../images/icons/food.svg");
}

.infrastructure__item--souvenir::before {
  width: 76px;
  height: 76px;
  margin-bottom: 28px;

  background-image: url("../images/icons/souvenir.svg");
}

.infrastructure__item-title,
.infrastructure__item-description {
  margin-top: 0;
  margin-bottom: 0;
}

.infrastructure__item-title {
  margin-bottom: 30px;

  text-transform: uppercase;
}

.infrastructure__item-description {
  color: var(--additional-color);
}


/* Offer */

.offer {
  display: grid;
  row-gap: 53px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.offer__button {
  justify-self: center;
  width: 100%;
  max-width: 376px;
}


/* Subscribe */

.subscribe {
  display: grid;
  row-gap: 56px;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe__form {
  justify-self: center;
  display: flex;
  width: 684px;
}

.subscribe__input {
  flex-grow: 1;
  padding: 14px 20px;

  background-color: var(--basic-color-light);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.subscribe__button {
  min-width: 232px;

  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}


/* Filters */

.filters__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;

  color: var(--basic-color-light);
}

.filters__side {
  display: flex;
  column-gap: 70px;
}

.filters__fieldset {
  margin-right: 0;
  margin-left: 0;
  border: none;
  padding: 0;
}

.filters__legend {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 32px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}

.filters__checkbox-group .filters__item:not(:last-of-type) {
  margin-bottom: 13px;
}

.filters__radio-group .filters__item:not(:last-of-type) {
  margin-bottom: 15px;
}

.filters__wrapper {
  display: inline-flex;
  align-items: center;
  column-gap: 15px;

  line-height: 1.28;

  cursor: pointer;
  transition: opacity var(--primary-transition-duration) var(--primary-transition-timing-function);
}

@media (hover: hover) {
  .filters__wrapper:hover {
    opacity: 0.6;
  }
}

.filters__input:focus-visible + .filters__checkbox {
  outline: 3px solid var(--primary-color-3);
}

@supports not selector(:focus-visible) {
  .filters__input:focus + .filters__checkbox {
    outline: 3px solid var(--primary-color-3);
  }
}

.filters__wrapper:active {
  opacity: 0.6;
}

.filters__input[type="checkbox"] + .filters__checkbox {
  width: 20px;
  height: 20px;

  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 60% 50%;
}

.filters__input[type="checkbox"]:checked + .filters__checkbox {
  background-image: url("../images/icons/checkbox.svg");
}

.filters__input[type="radio"] + .filters__checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;

  border-radius: 50%;
}

.filters__input[type="radio"] + .filters__checkbox::after {
  content: "";

  display: inline-block;
  width: 11px;
  height: 11px;

  background-color: var(--primary-color-4);
  border-radius: 50%;

  opacity: 0;
}

.filters__input[type="radio"]:checked + .filters__checkbox::after {
  opacity: 1;
}

.filters__checkbox {
  flex-shrink: 0;

  background-color: var(--basic-color-light);
}

.filters__controls {
  align-self: flex-end;
  display: grid;
  row-gap: 32px;
}

.filters__controls-button {
  min-width: 191px;
}


/* Range */

.range__inputs {
  display: grid;
  grid-template-columns: repeat(2, 143px);
  column-gap: 2px;
  margin-bottom: 43px;

  line-height: 1.33;
}

.range__input-wrapper {
  position: relative;

  margin-top: 0;
  margin-bottom: 0;
}

.range__input-wrapper:first-of-type .range__input {
  border-radius: 4px 0 0 4px;
}

.range__input-wrapper:last-of-type .range__input {
  border-radius: 0 4px 4px 0;
}

.range__input {
  width: 100%;
  padding: 12px 46px 12px 20px;

  color: var(--basic-color-dark);
  font-weight: 700;

  background-color: var(--additional-color-2);

  transition: background-color var(--primary-transition-duration) var(--primary-transition-timing-function);
  cursor: pointer;
}

@media (hover: hover) {
  .range__input:hover {
    background-color: var(--additional-color-3);
  }
}

.range__input:focus-visible {
  background-color: var(--additional-color-3);

  outline: 3px solid var(--primary-color-3);
}

@supports not selector(:focus-visible) {
  .range__input:focus {
    background-color: var(--additional-color-3);

    outline: 3px solid var(--primary-color-3);
  }
}

.range__label {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  color: var(--basic-color-dark-0-30);
  text-transform: lowercase;
}

.range__slider {
  position: relative;

  height: 3px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range__slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: var(--basic-color-light);
  border-radius: 5px;

  transition: box-shadow var(--primary-transition-duration) var(--primary-transition-timing-function);
}

.range__slider-button:first-of-type {
  left: 0;
}

.range__slider-button:last-of-type {
  left: 72%;
}

@media (hover: hover) {
  .range__slider-button:hover {
    box-shadow: 0 4px 10px 0 var(--basic-color-dark-0-25);
  }
}

.range__slider-button:focus-visible {
  outline: 3px solid var(--primary-color-3);
  outline-offset: unset;
  box-shadow: 0 4px 10px 0 var(--basic-color-dark-0-25);
}

@supports not selector(:focus-visible) {
  .range__slider-button:focus {
    outline: 3px solid var(--primary-color-3);
    outline-offset: unset;
    box-shadow: 0 4px 10px 0 var(--basic-color-dark-0-25);
  }
}

.range__slider-button:active {
  outline: 2px solid var(--primary-color-3);
  box-shadow: 0 7px 15px 0 var(--basic-color-dark-0-40);
}

.range__slider-progress {
  display: block;
  width: 72%;
  height: 100%;

  background-color: var(--basic-color-light);
}


/* Hotels */

.hotels__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 70px;
  margin-bottom: 39px;
}

.hotels__header-title {
  margin-right: auto;
}

.hotels__view,
.hotels__view-item {
  display: flex;
}

.hotels__view {
  column-gap: 8px;
}

.hotels__view-link {
  display: inline-block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  transition: border-color var(--primary-transition-duration) var(--primary-transition-timing-function);
}

@media (hover: hover) {
  .hotels__view-link:hover {
    border-color: var(--basic-color-dark);
  }
}

.hotels__view-link:focus-visible {
  outline: none;
  border-color: var(--primary-color-2);
}

@supports not selector(:focus-visible) {
  .hotels__view-link:focus {
    outline: none;
    border-color: var(--primary-color-2);
  }
}

.hotels__view-link:active {
  border-color: var(--basic-color-dark);
}

.hotels__view-link--active {
  border-color: var(--basic-color-dark);

  pointer-events: none;
}

.hotels__view-link--tile-view {
  background-image: url("../images/icons/mode-tile.svg");
}

.hotels__view-link--card-view {
  background-image: url("../images/icons/mode-card.svg");
}

.hotels__view-link--list-view {
  background-image: url("../images/icons/mode-list.svg");
}

.hotels__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(340px, auto));
  grid-auto-rows: minmax(438px, auto);
  gap: 19px 20px;
  margin-bottom: 39px;
}

.hotels__pagination {
  padding-top: 41px;

  font-size: 20px;
  line-height: 1.8;

  border-top: 1px solid var(--additional-color-3);
}


/* Sorting */

.sorting {
  position: relative;
}

.sorting__select {
  position: relative;

  width: 292px;
  padding: 12px 40px 12px 19px;

  color: var(--additional-color);
  line-height: inherit;

  border: 2px solid #e5e5e5;
  border-radius: 4px;

  cursor: pointer;
  transition: border-color var(--primary-transition-duration) var(--primary-transition-timing-function);
  appearance: none;
  --webkit-appearance: none;
  --moz-appearance: none;
}

@media (hover: hover) {
  .sorting__select:hover {
    border-color: var(--primary-color-2);
  }
}

.sorting__select:focus-visible {
  outline: none;
  border-color: var(--primary-color-2);
}

@supports not selector(:focus-visible) {
  .sorting__select:focus {
    outline: none;
    border-color: var(--primary-color-2);
  }
}

.sorting__select:disabled {
  color: var(--basic-color-dark-0-30);

  border-color: var(--basic-color-dark-0-30);
}

.sorting__select:disabled + .sorting__arrow {
  color: var(--basic-color-dark-0-30);
}

.sorting__arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  pointer-events: none;
}

/* Card */
.card {
  display: grid;
  row-gap: 16px;
  padding: 20px 19px;
  min-height: 100%;

  border: 1px solid var(--additional-color-3);
  border-radius: 4px;
}

.card__title,
.card__info {
  margin-top: 0;
  margin-bottom: 0;
}

.card__info {
  display: flex;
  justify-content: space-between;

  color: var(--additional-color);
}

.card__info-value {
  margin-left: 0;
}

.card__info,
.card__controls,
.card__quality {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.card__controls-button,
.card__rating {
  flex-grow: 1;
  max-width: 140px;
  padding-right: 10px;
  padding-left: 10px;
}

.card__rating {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 0;
  margin-bottom: 0;

  color: var(--additional-color);
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;

  background-color: var(--additional-color-2);
  border-radius: 4px;
}

.card__stars {
  height: 17px;

  background-image: url("../images/icons/star.svg");
  background-repeat: space;
}

.card__stars[data-star="1"] {
  width: var(--icon-star-size);
}

.card__stars[data-star="2"] {
  width: calc(var(--icon-star-size) * 2);
}

.card__stars[data-star="3"] {
  width: calc(var(--icon-star-size) * 3);
}

.card__stars[data-star="4"] {
  width: calc(var(--icon-star-size) * 4);
}

.card__stars[data-star="5"] {
  width: calc(var(--icon-star-size) * 5);
}


/* Pagination */

.pagination__list {
  display: flex;
  column-gap: 8px;
}

.pagination__link {
  min-width: 60px;
  min-height: 60px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: inherit;
}

@media (hover: hover) {
  .pagination__link:hover {
    outline: 1px solid var(--primary-color);
  }
}

.pagination__link:focus-visible {
  outline: 1px solid var(--primary-color);
  outline-offset: unset;
}

@supports not selector(:focus-visible) {
  .pagination__link:focus {
    outline: 1px solid var(--primary-color);
    outline-offset: unset;
  }
}

.pagination__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;

  font-weight: 600;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.pagination__button--more {
  font-size: 22px;
  line-height: 1.18;

  background-color: transparent;
}

.pagination__link--active {
  background-color: var(--additional-color-2);

  pointer-events: none;
}


/* Footer */

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 20px;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 33px;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  max-width: 141px;
}

.footer__contact-link {
  font-size: 40px;
  line-height: 1;
}

.footer__copyright-link {
  color: inherit;
}


/* Social */

.social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}


/* Modal */

.modal {
  position: fixed;
  z-index: 1;

  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  max-width: inherit;

  background-color: var(--basic-color-light-0-80);
}

.modal--inactive {
  display: none;
}

.modal__container {
  position: relative;

  padding: 64px 70px;

  background-color: var(--basic-color-light);
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 var(--basic-color-dark-0-15);
}

.modal__close {
  position: absolute;
  top: 64px;
  right: 52px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  padding: 0;

  background-color: var(--additional-color-2);
  border: none;
  border-radius: 50%;

  transition: background-color var(--primary-transition-duration) var(--primary-transition-timing-function);
  cursor: pointer;
}

@media (hover: hover) {
  .modal__close:hover {
    background-color: var(--additional-color-3);
  }
}

.modal__close:focus-visible {
  background-color: var(--additional-color-3);
  outline: 3px solid var(--primary-color-3);
}

@supports not selector(:focus-visible) {
  .modal__close:focus {
    background-color: var(--additional-color-3);
    outline: 3px solid var(--primary-color-3);
  }
}

.modal__close:active .modal__close-icon {
  opacity: 0.3;
}

.modal__close-icon {
  transition: opacity var(--primary-transition-duration) var(--primary-transition-timing-function);
}

.modal__title {
  margin-top: 0;
  margin-bottom: 64px;
  padding-right: 54px;
}

.modal__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 23px 80px;
  margin-bottom: 48px;
}

.modal__control {
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.modal__control--text {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: minmax(min-content, auto) 440px;
  gap: 4px 18px;
}

.modal__control--number {
  grid-column: span 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.modal__control--number:nth-of-type(2n) {
  padding-left: 6px;
}

.modal__label {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;

  cursor: pointer;
}

.modal__input {
  padding: 12px 60px 12px 20px;

  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.modal__input-wrapper {
  position: relative;
}

.modal__input-number {
  padding: 12px 40px;
  max-width: 110px;

  text-align: center;

  border-radius: 4px;
}

.modal__hint {
  grid-column: 2 / -1;
  padding-left: 20px;

  color: var(--additional-color);
  font-size: 16px;
  line-height: 1.31;
}

.modal__hint--error {
  color: var(--error-color);
}

.modal__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 0;

  color: var(--basic-color-dark-custom);

  background-color: transparent;
  border: none;

  transition: color var(--primary-transition-duration) var(--primary-transition-timing-function);
  cursor: pointer;
}

@media (hover: hover) {
  .modal__button:hover {
    color: inherit;
  }
}

.modal__button:focus-visible {
  color: inherit;

  border-radius: 4px;

  outline: 3px solid var(--primary-color);
}

@supports not selector(:focus-visible) {
  .modal__button:focus {
    color: inherit;

    border-radius: 4px;

    outline: 3px solid var(--primary-color);
  }
}

.modal__button:active {
  color: var(--basic-color-dark-custom);
}

.modal__button--decrease {
  left: 8px;
}

.modal__button--increase {
  right: 11px;
}

.modal__submit {
  width: 100%;
  padding: 18px 36px;

  font-size: 20px;
  line-height: 1.2;

  border-radius: 10px;
}

.modal__tooltip {
  position: relative;
}

.modal__tooltip-button {
  top: 50%;
  right: -37px;
  transform: translateY(-50%);
}

/* Tooltip */
.tooltip {
  position: absolute;

  width: 26px;
  height: 26px;
  padding: 0;

  background-color: var(--primary-color-3);
  background-image: url("../images/icons/tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

@media (hover: hover) {
  .tooltip:hover .tooltip__content {
    display: block;
  }
}

@media (hover: none) {
  .tooltip:active .tooltip__content {
    display: block;
  }
}

.tooltip:focus-visible {
  outline: 1px solid var(--primary-color-3);
  outline-offset: 1px;
}

.tooltip:focus-visible .tooltip__content {
  display: block;
}

@supports not selector(:focus-visible) {
  .tooltip:focus {
    outline: 1px solid var(--primary-color-3);
    outline-offset: 1px;
  }

  .tooltip:focus .tooltip__content {
    display: block;
  }
}

.tooltip__content {
  position: absolute;
  left: 50%;
  top: 41px;
  transform: translateX(-50%);
  z-index: 1;

  display: none;
  min-width: 256px;
  padding: 20px 18px 23px 22px;

  color: var(--basic-color-light);
  font-size: 15px;
  line-height: 1.34;
  text-align: left;

  background-color: var(--additional-color);
  border-radius: 10px;
}

.tooltip__content::before {
  content: "";

  position: absolute;
  top: -3px;
  left: 50%;
  z-index: -1;

  transform: translateX(-50%) rotate(45deg);

  display: block;
  width: 30px;
  height: 30px;

  background-color: var(--additional-color);
}
