:root {
  /* Primary Colors */
  --basic-color-light: #ffffff;
  --basic-color-dark: #000000;
  --primary-color: #82b3d3;
  --primary-color-2: #68a2ca;
  --primary-color-3: #83b3d3;
  --primary-color-4: #3f5e72;
  --secondary-color: #756157;
  --secondary-color-2: #756257;
  --secondary-color-3: #615048;
  --accent-color: #7db54f;
  --accent-color-2: #6c9e42;
  --additional-color: #333333;
  --additional-color-2: #f2f2f2;
  --additional-color-3: #e6e6e6;
  --error-color: #ff5757;

  /* RGBA Colors */
  --basic-color-light-0-20: rgba(255, 255, 255, 0.20);
  --basic-color-light-0-30: rgba(255, 255, 255, 0.30);
  --basic-color-light-0-60: rgba(255, 255, 255, 0.60);
  --basic-color-dark-0-20: rgba(0, 0, 0, 0.20);
  --basic-color-dark-0-25: rgba(0, 0, 0, 0.25);
  --basic-color-dark-0-30: rgba(0, 0, 0, 0.30);
  --basic-color-dark-0-40: rgba(0, 0, 0, 0.40);
  --primary-color-ligth-0-12: rgba(131, 179, 211, 0.12);
  --primary-color-ligth-0-20: rgba(131, 179, 211, 0.20);

  /* Icons */
  --icon-star-size: 22px;

  /* Transitions */
  --primary-transition-duration: 0.2s;
  --primary-transition-timing-function: ease-in-out;
}
